{
  "zk": "{{ mesos_zk_url }}",
  "masters": ["{{ groups['mesos-master'] | join(':5050", "') }}:5050"],
  "refreshSeconds": 60,
  "ttl": 60,
  "domain": "mesos",
  "port": 53,
  "resolvers": ["172.19.10.10", "8.8.8.8"],
  "IPSources": ["mesos", "host"]
}
