# {{ansible_managed}}
description "Marathon scheduler for Mesos"

start on runlevel [2345]
stop on runlevel [!2345]

respawn
respawn limit 10 5

script
/usr/bin/marathon \
  --http_credentials "{{ mesos_http_credentials }}" \
  --mesos_authentication_principal "{{ mesos_authentication_principal }}" \
  --mesos_authentication_secret_file "{{ mesos_authentication_secret_file }}"
  --http_port {{marathon_port}}
end script
