# {{ansible_managed}}
[core]
dcos_url = "{{ mesos_master_url }}"
mesos_master_url = "{{ mesos_master_url }}"
reporting = false # No usage reporting
email = "no-auth@example.com" # Disables auth check

[marathon]
url = "{{ marathon_url }}"

[package]
sources = [ "https://github.com/mesosphere/universe/archive/version-1.x.zip",]
cache = "/home/{{ ansible_ssh_user }}/.dcos/cache"
